* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font, monospace";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    border-radius: 10px;
    background: #010409;
    color: #cdd6f4;
}

.modules-left {
    padding-left: 10px;
}

.modules-right {
    padding: 0 10px;
}

tooltip {
    background: #010409;
    border-radius: 10px;
}

#workspaces button {
    padding: 5px;
    color: #313244;
    margin-right: 5px;
}

#workspaces button.active {
    color: #a6adc8;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #010409;
}

#workspaces button.urgent {
    color: #11111b;
    background: #010409;
}

#workspaces button:hover {
    background: #010409;
    color: #cdd6f4;
}

#temperature.critical {
    color: #eba0ac;
}

#clock {
    color: #fab387;
}

#network {
    color: #f9e2af;
}

#pulseaudio {
    color: #89b4fa;
}

#pulseaudio.microphone {
    color: #cba6f7;
}

#memory {
    color: #a6e3a1;
}

#language {
    color: #94e2d5;
    font-size: 18px;
    padding: 0 0 2px;
}